/* this is global */
body {
  background-image: url('https://i.imgur.com/5QINrq7.jpg');
  background-size: 75%;
}

.cover {
  background-image: url('https://i.imgur.com/LaqvZvC.jpg');
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  color: whitesmoke;
  padding: 5rem;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
}

.welcome {
  font-size: 125px;
  letter-spacing: 0.05em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: white;
  font-weight: bold;
}

#gitBrewd {
  font-family: monospace;
  letter-spacing: 0.17em;
  color: whitesmoke;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.17em solid #f2af29;
  animation: typing 3.5s steps(30, end), blinking-cursor 0.5s step-end infinite;
  font-size: 110px;
  font-weight: bold;
}

.age {
  font-size: 25px;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
  min-height: 25px;
}

.button12 {
  padding: 0.3rem;
  margin-left: 0px;
}

.btn {
  background-color: transparent;
  border: 2px solid white;
  background-color: #f2af29;
  color: white;
  font-size: 35px;
}

.divider {
  width: 110px;
  height: auto;
  display: inline-block;
}

/* End of Landing Page */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.btn {
  background-color: #f2af29;
  color: white;
  font-size: 35px;
}

.button12 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 0px;
}

/* This is the CSS for Main Page */
.CoverPhoto {
  background: url('https://i.imgur.com/LaqvZvC.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-size: 40px;
  margin-top: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bottleSpin {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* This is the CSS for the Brewery Card  */
.card {
  background: transparent;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 90%;
  border: none;
  padding-left: auto;
}
.brewName {
  display: flex;
  justify-content: center;
  padding: 25px;
  font-weight: bold;
  background-color: #3357b7;
  color: whitesmoke;
  font-size: 60px;
  margin: auto;
}
.cardText {
  background-color: #f2af29;
  color: #2e2e2e;
  padding-left: 10px;
  font-size: 40px;
  margin: auto;
  text-align: center;
}
.breweryPhoto {
  height: 190px;
  background: transparent;
  border-radius: 5%;
}

/* this switches the backgrounds of the cards */
.blue {
  background-image: url(./Photos/blue.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.beerBubbles {
  background-image: url(./Photos/beerBubbles.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.yellow {
  background-image: url(./Photos/yellow.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.breweryBody {
  min-height: 100vh;
}

.brewerytitle {
  color: gold;
  margin-left: 50px;
}

.brewerytitle h1 {
  display: flex;
  justify-content: center;
  font-size: 450%;
  text-shadow: 10px 4px 5px black;
  font-family: monospace;
  font-weight: bold;
}

.brewerypic {
  margin-left: 8%;
  max-width: 75%;
  height: 80%;
  border: orange 1px solid;
  box-shadow: 10px 10px 8px black;
}

.brewerylist li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 1rem;
  padding-right: 35%;
  padding-left: 5%;
  font-size: 180%;
  color: orange;
  text-shadow: 10px 4px 4px black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 0px 10px 0px 10px;
}

.brewerylist .phoneNum {
  padding: 15% 0 0 0;
}

.brewerylist .brewbutton {
  padding: 5% 0 0 0;
}
.backbtn {
  background-color: transparent;
  background-image: url('https://i.imgur.com/kn0Exll.png');
  background-size: 100%;
  width: 40px;
  height: 30px;
  -top: 20px;
  background-repeat: no-repeat;
  border: transparent;
  margin: 2px;
}

/* this is the CSS for the Map */
.marker-icon {
  width: 30px;
  height: 30px;
}

body {
  background-image: url('https://i.imgur.com/5QINrq7.jpg');
  background-size: 75%;
}

.brewbod {
  display: flex;
  margin: 5%;
}

.bussinessInfo {
  padding: 0;
  border: red solid 2px;
}

.brewerybtn {
  box-shadow: 10px 10px 8px black;
  background-color: transparent;
  color: rgb(255, 123, 0);
}

.backbtn {
  background-color: transparent;
  background-image: url('https://i.imgur.com/kn0Exll.png');
  background-size: 100%;
  width: 40px;
  height: 30px;
  -top: 20px;
  background-repeat: no-repeat;
  border: transparent;
  margin: 2px;
}

.noMap {
  margin-left: 8%;
  max-width: 75%;
  height: 80%;
  border: orange 1px solid;
  box-shadow: 10px 10px 8px black;
}

@media only screen and (max-width: 600px) {
  body {
    background: lightblue;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .brewbod {
    flex-direction: column;
  }
}
