@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/*this is the landing page*/
.cover {
  background-image: url('https://i.imgur.com/LaqvZvC.jpg');
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  color: whitesmoke;
  padding: 5rem;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
}

.welcome {
  font-size: 125px;
  letter-spacing: 0.05em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: white;
  font-weight: bold;
}

#gitBrewd {
  font-family: monospace;
  letter-spacing: 0.17em;
  color: whitesmoke;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.17em solid #f2af29;
  animation: typing 3.5s steps(30, end), blinking-cursor 0.5s step-end infinite;
  font-size: 110px;
  font-weight: bold;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.age {
  font-size: 25px;
  padding: 1rem;
  margin: 0 auto;
  min-height: 25px;
}

.button12 {
  padding: 0.3rem;
  margin-left: 0px;
}

.btn {
  background-color: transparent;
  background-color: #f2af29;
  color: white;
  font-size: 35px;
}

.divider {
  width: 110px;
  height: auto;
  display: inline-block;
}

/* End of Landing Page */

/* This is the CSS for Main Page */
.CoverPhoto {
  background-image: url('https://i.imgur.com/LaqvZvC.jpg');
  background-size: cover;
  background-repeat: norepeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.BreweryFinder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33vh;
  background-color: #3357b7;
  background-size: cover;
  height: 25vh;
  width: 100%;
  font-family: 'Syne Mono', monospace;
  font-weight: 700;
}
.searchComponent {
  display: flex;
}
.bottleSpin {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* search form component */
#searchForm {
  height: 5vh;
  width: 20vw;
  border-radius: 5%;
  background: transparent;
}

/* This is the CSS for the Brewery Card  */
.card {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  font-weight: 600;
  height: 38vh;
}
.card h2 {
  margin: 40px auto;
  font-size: 5vw;
  max-width: 700px;
  overflow-wrap: break-word;
  text-align: center;
  color: whitesmoke;
  font-family: 'Syne Mono', monospace;
  line-height: 80%;
}
.card h4 {
  margin: 0px auto;
  font-size: 2vw;
  text-align: center;
  color: whitesmoke;
  font-family: 'Syne Mono', monospace;
}
.moreInfo {
  padding-top: 5px;
  background: transparent;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  width: 8vw;
  height: 5vw;
  margin: auto;
}

/* this switches the backgrounds of the cards */
.blue {
  background-image: url(./Photos/blue.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 38vh;
}
.yellow {
  background-image: url(./Photos/yellow.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 38vh;
}
.orange {
  background-image: url(./Photos/orange.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 38vh;
}

/* For Brewery Page */

.breweryBody {
  min-height: 100vh;
  background-image: url(./Photos/Bar.png);
  background-size: cover;
  background-repeat: repeat;
}

.brewerytitle {
  color: #f2af29;
}

.brewerytitle h1 {
  display: flex;
  justify-content: center;
  font-size: 450%;
  text-shadow: 10px 4px 5px black;
  font-family: 'Syne Mono', monospace;
  font-weight: bold;
  overflow-wrap: break-word;
  text-align: center;
}

.brewerypic {
  max-width: 75%;
  height: 32vh;
  width:45 vh;
  border: orange 1px solid;
  box-shadow: 10px 10px 8px black;
}

.brewerylist li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 165%;
  color: goldenrod;
  text-shadow: 3px 3px 2px black;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2px;
}

.bussinessInfo {
  padding: 0;
}

.phoneNum {
  margin-top: 15%;
}

.city {
  overflow-wrap: break-word;
  text-align: center;
}

.brewbod {
  display: flex;
  margin: 5%;
  justify-content: space-evenly;
}

.websiteBtn {
  box-shadow: 10px 10px 8px black;
  background-color: rgba(42, 24, 23, 0.8);
  color: goldenrod;
}

.backbtn {
  background-color: transparent;
  color: whitesmoke;
  border: transparent;
}
.arrow {
  margin-top: 40px;
}

/* this is the CSS for the Map */
.marker-icon {
  width: 30px;
  height: 30px;
}

/* this the intial attempt to get app to work on other devices */
@media only screen and (max-width: 600px) {
  .brewbod {
    display: flex;
    flex-direction: column;
  }
  .CoverPhoto{
    background-image: url('https://i.imgur.com/LaqvZvC.jpg');
    background-size: cover;
    background-repeat: norepeat;
    width: 100%; 
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }
  .BreweryFinder{
    display:flex;
    flex-direction: column;
    height: 30vh;
  }
  .card{
    display:flex;
    justify-content: center;
    overflow-wrap: break-word;
  }
  .moreInfo{
    width: 50%;
    height:20%;
  }
  #searchForm{
    width:50vw;

  }
  .cover {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #gitBrewd {
    font-size: 55px;
    padding-bottom: 80px;
  }
  .button12 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .welcome {
    font-size: 60px;
  }
}
