.cover {
  background-image: url('https://i.imgur.com/LaqvZvC.jpg');
  background-size: 100%;
  height: 120vh;
  background-repeat: no-repeat;
  color: whitesmoke;
  padding: 5rem;
  font-size: 40px;
  font-family: monospace;
}

#gitBrewd {
  font-family: monospace;
  letter-spacing: 0.17em;
  color: whitesmoke;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.17em solid #f2af29;
  animation: typing 3.5s steps(30, end), blinking-cursor 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.CoverPhoto {
  background: url('https://i.imgur.com/LaqvZvC.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-size: 40px;
  margin-top: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bottleSpin{
  animation:rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.row{
  background-image:url(./Photos/orange.png);
  background-size:cover;
  background-repeat: no-repeat;
}
.row:nth-of-type(even){
  background-image:url(./Photos/blue.png);
  background-size:cover;
  background-repeat: no-repeat;
}

.card{
  background:transparent;
  height:500px;
  width:450px;
  border: none;
  padding-left:auto;
}
.CoverPhoto h1 {
  text-align: center;
  font-family: monospace;
  letter-spacing: 0.17em;
  color: whitesmoke;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.17em solid #f2af29;
  animation: typing 3.5s steps(30, end), blinking-cursor 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 25%;
  }
  to {
    width: 75%;
  }
}

.btn {
  background-color: #f2af29;
  color: white;
  font-size: 35px;
}

.button12 {
  display:flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 0px;
}


.App {
  font-family: 'BrandonGrotesque', helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
}


.form-row {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.brewName {
  display: flex;
  justify-content: center;
  padding: 25px;
  font-weight: bold;

}

.breweryBody {
  min-height: 100vh;
  display: grid;
  column-gap: 0vh;
  grid-template-areas:
    'header header header header'
    'main right right right'
    'main right right right'
  
}

.brewerytitle {
  grid-area: header;
 
}

.brewerytitle h1 {
  padding-left: 35%;
}

.brewerypic {
  grid-area: 2 / 1 / 3 / 3;
  padding-left: 15%;
  max-width: 100%;
  height: auto;
}


.brewerylist {
  grid-area: 2 / 3 / 3 / 6;
  
}

.brewerylist li {
  list-style-type: none;
  padding: 1rem;
  padding-right: 35%;
  padding-left: 5%;
}

.marker-icon {
  width: 30px;
  height: 30px;
}
